# Ignore Gradle project-specific cache directory
.gradle
.idea

# Ignore Gradle build output directory
build
bin
dat
*.iml
*.log
*.hprof
*.hwcache
runModelConverter
# run/maps
run
run-web/updates/launcher/java
run-launcher
out
/modules/skdslib
/run-db-client/
/run-db-server/
